<table>
  <thead>
    <tr>
      <th>Cím</th>
      <th>Szerzők</th>
      <th>ISBN</th>
      <th>helye</th>
      <th>stílus</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book|  %>
    <tr>
      <td><%= link_to book.title, book_path(book) %></td>
      <td><%= book.author %></td>
      <td><%= book.isbn %></td>
      <td><%= link_to book.location.name, location_path(book.location) %></td>
      <td><%= Rails.configuration.x.styles[book.style] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Új', new_book_path, class: 'uk-button'  %>
