<div class="uk-container-center uk-panel uk-panel-box">
  <%= form_tag books_path, method: :post, html: { class: 'uk-form' } do %>
      <div class="uk-text-center">
        <div class="uk-grid">
          <div class="uk-width-1-1">
            <div class="uk-form-row">
              <%= label_tag :title, 'Cím:' %>
              <%= text_field_tag :title, 'Cím' %>
            </div>
            <div class="uk-form-row">
              <%= label_tag :author, 'Szerzők:' %>
              <%= text_field_tag :author, 'Szerzo' %>
            </div>
            <div class="uk-form-row">
              <%= label_tag :isbn, 'ISBN:' %>
              <%= text_field_tag :isbn, 'ABC1313131' %>
            </div>
            <div class="uk-form-row">
              <%= label_tag :location, 'helye' %>
              <%= text_field_tag :location, 'home' %>
            </div>
            <div class="uk-form-row">
              <%= label_tag :style, 'Stílus' %>
              <%= select_tag :style, options_for_select(Rails.configuration.x.styles.invert) %>
            </div>
            <div class="uk-form-row">
              <%= submit_tag 'Tovább', class: 'uk-button'  %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
