<h1> A /<%= @book.title %>/ könyv adatai </h1>

<div class="uk-container-center uk-panel uk-panel-box">
  <div class="uk-text-center">
    <div class="uk-grid">
      <div class="uk-width-1-1">
        <div class="uk-form-row">
          <%= label_tag :title, 'Cím:' %>
          <%= label_tag :title, @book.title %>
        </div>
        <div class="uk-form-row">
          <%= label_tag :author, 'Szerzők:' %>
          <%= label_tag :author, @book.author %>
        </div>
        <div class="uk-form-row">
          <%= label_tag :isbn, 'ISBN:' %>
          <%= label_tag :isbn, @book.isbn %>
        </div>
        <div class="uk-form-row">
          <%= label_tag :location, 'helye:' %>
          <%= label_tag :location, @book.location %>
        </div>
        <div class="uk-form-row">
          <%= label_tag :style, 'Stílus:' %>
          <%= label_tag :style, Rails.configuration.x.styles[@book.style] %>
        </div>
        <div class="uk-form-row">
          <%= link_to 'Szerkesztés', edit_book_path(@book), class: 'uk-button'  %>
        </div>
      </div>
    </div>
  </div>
</div>
